#senha{
	color: blue;
}

#divConteudo{
	background: #d9e0de;
	float: center;
	width: 500px;
	height: 600px;
	border: solid 1px;
	box-shadow: 0px -3px 80px 20px #d9e0de;
	border-color: #d9e0de;
	border-radius: 10px;
}

#divCentral{

	background: white;
	float: center;
	width: 400px;
	height: 500px;
	margin-top: 30px;
	border: solid 1px;
	border-radius: 8px;
}

#imgLogo{
	margin-top: 10px;
}

#campLogin{
	font-size: 20px;
	width: 300px;
	height: 30px;
border: solid 1px;
border-radius: 3px;
border-color: #d9e0de;
}

#campSenha{
	font-size: 20px;
	width: 300px;
	height: 30px;
border: solid 1px;
border-radius: 3px;
border-color: #d9e0de;
}

#butEntrar{
	width: 300px;
	height: 35px;
	border: solid 1px;
	border-radius: 4px;
	border-color: #d9e0de;

}

#butCancelar{
	width: 300px;
	height: 35px;
	border: solid 1px;
	border-radius: 4px;
	border-color: #d9e0de;

}

#esqSenha{
	height: 1px;
}