<<<<<<< HEAD


#centroPrincipal {
	width: 100%;

}
=======
#centroPrincipal {
	width: 100%;
	/*background-color: #336666;*/
	padding: 15px 1px 100px 1px;
	/*border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0px 5px 33px 10px rgba(0,0,0,0.15);	*/


}

>>>>>>> eb1517ef85a78b4c1247b2318159fb89d027fc3a
	#linhaBordaInferior{
	width: 90%;	
	border: solid;
	border-color: #CCCCCC;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2.5px;
	border-left-width: 0px;
	}

<<<<<<< HEAD
#centro {
	margin: 5px 3px 20px 3px;
=======

#centro {
	margin: 50px 3px 20px 3px;
>>>>>>> eb1517ef85a78b4c1247b2318159fb89d027fc3a
	width: 95%;
	background-color: #ffffff;
	border: solid;
	border-color: #000000;
	float: center;
	border: 1px solid rgba(0,0,0,.3);
    border-radius: 15px;
<<<<<<< HEAD
    box-shadow: 0px 1px 33px 3px rgba(0,0,0,0.75);	
}

=======
    box-shadow: 0px 1px 33px 3px rgba(0,0,0,0.75);
	
}
>>>>>>> eb1517ef85a78b4c1247b2318159fb89d027fc3a
#form{
	margin: 15px 2px 25px 2px;
}

.botaolg{
margin-right: 180px;
height: 75px;
}

.imgUsuario{
height: 100px;

}

.botaoPadrao{
height: 75px;
padding: 15px 2px 25px 2px;

}

<<<<<<< HEAD
.redimencionar{
=======
#redimencionar{
>>>>>>> eb1517ef85a78b4c1247b2318159fb89d027fc3a
width: 5%;
height: 3%;
}

body{
<<<<<<< HEAD
	background-image: url("img/download.png");	
    -moz-background-size: 100% 100% 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100% 100% 100%;
}
	

footer{
	color: #cccccc;
	margin-top: 20px;
}

.bt ul li{
	display: inline-block;
}
=======
	background-image: url("img/bg.jpg"); 
	
}

>>>>>>> eb1517ef85a78b4c1247b2318159fb89d027fc3a
